<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
 
    <th:block th:replace="fragments/risorse :: risorse-head"></th:block>
    <title>Freedom</title>  
    
    
    
<style>

 


html,body {
	
  background-image:url("https://c4.wallpaperflare.com/wallpaper/482/225/313/pixel-art-fez-video-games-pixels-wallpaper-preview.jpg");
  background-repeat: no-repeat;
 
    background-position:initial;
    background-size:cover ;
 
  

  height:100%;
   width:100%;
      position: absolute;

}





</style>
        
  </head>
  <body >
      <div    th:replace="fragments/navbar :: navbar('home')"></div>

    <div class="badge bg-warning text-wrap"  style= "width:200px; position: fixed; top: 240px; right: 350px; color:aliceblue;"  
        <h5><p> se vuoi maggiori informazioni su cosa offro, clicca su</p><p> MORE STUFF</p>Nel frattempo goditi questo panorama pixelato</h5>
     
    </div>
    
    
      <div class="badge bg-primary text-wrap"  style= " width:200px; position: fixed; top: 240px; left: 450px; color:aliceblue;"  
 
         <h5><p>BENVENUTO </p><p> se vuoi sapere qualcosa di piu su di me, clicca su <p> ABOUT ME</p> </h5>
     
    </div>
    
    
     
   
  <!-- Questo dovrebbe essere l'auto type, ma a quant oapre serve importare qualocsa di esterno
  
  <!-- <div class="container" style=" width:20%;height:20%;background-color:bisque;color:aqua;">
        <h1 > <span class="auto-type">      </span></h1>
    </div>
  
  
   
    <script>
    	
    	var typed = new typed(".auto-type",{
	      strings : ["gay","chi","legge"],
	      typeSpeed: 150,
	      backspeed: 150,
	      loop: true
	
})
    
      </script>
  
  
   <script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.12"></script> --> 
   
   
   
   
   
   
   
   
   
     
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>


