<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<style>

lista{
	white-space: nowrap;
}




</style>


  <body>
    <th:block th:fragment="navbar(current)">
         
            <nav class="navbar navbar-expand-lg navbar-dark nav-extended  "  style= "text-align: center;   ">
             <div class="nav-wrapper  container-fluid col-2 " style= "position: sticky;" >
            <div class="">  
            
           
                <a class="navbar-brand " href="/"><img ;  height="100" class=" rounded " src="https://i.pinimg.com/736x/e4/42/16/e44216b0167ce9c37f47a0b526daf4d5.jpg  " alt="Logo del cazz"  ></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse "     id="navbarNav">
              
                    <ul class="lista navbar-nav  " > 
                    
                        <li class="nav-item active  ">
                            <a  class="nav-link" th:classAppend= "${current == 'home'} ? active : not-active" href="/">Home</a>
                        </li>
                      
                        <li class="nav-item active ">
                            <a class="nav-link " th:classAppend= "${current == 'aboutMe'} ? active : not-active" href="/Freedom/aboutMe"><span style="white-space:nowrap " > about me </span></a>
                        </li>
                        
                        
                         <li class="nav-item active ">
                            <a class="nav-link " th:classAppend= "${current == 'moreStuff'} ? active : not-active" href="/Freedom/moreStuff"><span style="white-space:nowrap " > more stuff </span></a>
                        </li>
                        
                         
                       
                       </div>
                    </ul>
              
                    </div>
                      </div>
                    
               
            </nav>
        </div>
    <th:block>
  </body>
</html>